{% extends "_base.html" %}

{% block content %}

<!--img src="static/img/Logo3.png" width="312" height="73"-->
<img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGOJSUvpp8PjA/company-logo_200_200/0/1606878128180?e=1617235200&v=beta&t=tcbmk9gW2DJCj0c8zNZ8xe3XIJst0e32td30IWYxxhg">
<h1>Please sign in.</h1>


<form class="form-signin" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <div class="input-group">
    {{ form.name(placeholder="user name") }}
    {% if form.name.errors %}
      <span class="error">
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <div class="input-group">
    {{ form.password(placeholder="password") }}
    {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <button class="btn btn-sm btn-success" type="submit">Sign in</button>
  <br>
  <br>
  <p><em>Need an account?</em><a href="/register"> Signup!!</a></p>
</form>

{% endblock %}